.nav--wrapper {
  height: 10vh;
  color: #fff;
  background: #EB1B1B; }

.nav--list {
  float: left;
  list-style: none;
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .nav--list .logo--img {
    width: auto;
    height: 6vh;
    margin-top: 1vh;
    cursor: pointer; }

.nav--link {
  font-size: 2.5vh;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 5vh 0 10vh;
  cursor: pointer; }

.nav--link:hover {
  background-color: #fff;
  color: #EB1B1B;
  padding: 3.5vh;
  margin: 0 1.5vh 0 6.5vh;
  transition: .3s ease-in-out; }

.logo--img:hover {
  opacity: 80%;
  transition: .1s ease-in-out; }

.menu--btn {
  display: none; }
