.home--img--wrapper .home--img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  object-fit: cover; }

.cta--btn {
  padding: 10px 30px;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px; }

.cta--btn:hover {
  color: #fff;
  border: 2px solid #EB1B1B;
  background: #EB1B1B;
  transition: .6s;
  cursor: pointer; }

.cta--btn:active {
  color: #fff;
  border: 2px solid #EB1B1B;
  background: #EB1B1B;
  transition: .6s; }

.home--img--mobile {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  object-fit: cover; }

* {
  border: none;
  box-sizing: border-box; }

.booking--img--wrapper .booking--img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  object-fit: cover; }

.booking--form--wrapper {
  width: 40%;
  height: 31vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 40px;
  text-align: center; }

.booking--form {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 15px; }

.form--pri {
  grid-column: 1/4; }

.booking--form input {
  font-size: 1rem;
  padding: .5rem;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-weight: 400; }

.form--sec:last-child:hover {
  background-color: #EB1B1B;
  transition: .3s;
  cursor: pointer;
  border: 1px solid #EB1B1B; }

.booking--header {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 10px; }

.nav--list--wrapper {
  width: 100%;
  height: 10vh;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav--list {
  list-style: none; }

.nav--link {
  font-size: 2.5vh;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 5vh 0 10vh;
  cursor: pointer;
  display: inline-flex; }

.nav--link:hover {
  background-color: #EB1B1B;
  color: #fff;
  padding: 3.5vh;
  margin: 0 1.5vh 0 6.5vh;
  transition: .3s ease-in-out; }

.logo--container {
  height: 6vh;
  margin-right: auto;
  margin-left: 2vh; }
  .logo--container .logo--img {
    width: auto;
    height: 6vh;
    cursor: pointer; }

.logo--img:hover {
  opacity: 80%;
  transition: .1s ease-in-out; }

#menu--btn {
  display: none; }

.nav--list--wrapper {
  width: 100%;
  height: 10vh;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center; }

.nav--list {
  list-style: none; }

.nav--link {
  font-size: 2.5vh;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0 5vh 0 10vh;
  cursor: pointer;
  display: inline-flex; }

.nav--link:hover {
  background-color: #EB1B1B;
  color: #fff;
  padding: 3.5vh;
  margin: 0 1.5vh 0 6.5vh;
  transition: .3s ease-in-out; }

.logo--container {
  height: 6vh;
  margin-right: auto;
  margin-left: 2vh; }
  .logo--container .logo--img {
    width: auto;
    height: 6vh;
    cursor: pointer; }

.logo--img:hover {
  opacity: 80%;
  transition: .1s ease-in-out; }

#menu--btn {
  display: none; }

.contact--img--wrapper .contact--img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  object-fit: cover; }

.contact--container {
  width: 30%;
  height: 18rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .contact--container .contact--header {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    line-height: 5rem;
    font-weight: 300;
    margin-top: 1rem; }

.contact--row {
  width: 100%;
  height: 4rem; }
  .contact--row .contact--row::after {
    clear: both;
    display: table;
    content: ""; }

.contact--icon {
  width: 1rem;
  height: 1rem;
  float: left;
  margin: 1.5rem 0 1rem 1rem; }

.contact--details, .contact--location {
  width: auto;
  height: 20%;
  float: left;
  font-size: 1rem;
  text-align: left;
  line-height: 4rem;
  font-weight: 300;
  margin-left: 1rem;
  text-decoration: none;
  color: #fff; }

.contact--location:hover {
  color: #EB1B1B;
  transition: .3s; }
  .contact--location:hover .contact--location:visited {
    color: #fff;
    transition: 0.3s; }

.menu--page {
  width: 90%;
  height: 78vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33% 33% 33%;
  margin: 4% 0 2.5% 5%; }

.list {
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 1.9rem;
  letter-spacing: .5px; }

.list--container {
  list-style: none; }

.list--header {
  color: #EB1B1B;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: .5rem; }

.menu--img--container {
  width: 100%;
  height: 80vh;
  grid-column: 5/6;
  grid-row: 1/4; }

.menu--side {
  object-fit: cover;
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: 0; }

@media screen and (max-width: 1250px) {
  #menu--btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all .5s ease-in-out; }
    #menu--btn .menu--burger {
      width: 37.5px;
      height: 4px;
      background: #fff;
      border-radius: 3px;
      transition: all .5s ease-in-out;
      z-index: 2; }

  .menu--burger::before,
  .menu--burger::after {
    content: '';
    width: 37.5px;
    height: 4px;
    position: absolute;
    z-index: 2;
    background: #fff;
    border-radius: 3px;
    transition: all .5s ease-in-out; }

  .menu--burger::before {
    transform: translateY(-12px); }

  .menu--burger::after {
    transform: translateY(12px); }

  #menu--btn.open .menu--burger {
    background: transparent; }

  #menu--btn.open .menu--burger::before {
    transform: rotate(45deg); }

  #menu--btn.open .menu--burger::after {
    transform: rotate(-45deg); }

  .logo--img {
    position: absolute;
    right: 2vh; }

  .nav--list--wrapper {
    background-color: #EB1B1B; }

  .nav--list {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: #EB1B1B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    clip-path: circle(0vh at 0 0);
    -webkit-clip-path: circle 0 at 0 0;
    transition: all 1s ease-in-out;
    margin-top: 8vh; }
    .nav--list .nav--link {
      padding: 5% 0;
      margin: 0; }

  .nav--list.active {
    clip-path: circle(250vh at 0 0);
    -webkit-clip-path: circle 250vh at 0 0; }

  .nav--link:hover {
    margin: 0;
    background-color: #EB1B1B;
    color: #fff;
    padding: 5% 0; } }
@media screen and (max-width: 1250px) and (max-width: 1500px) {
  .menu--page {
    width: 90%;
    height: 115vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    margin: 2.5% 0 2.5% 10%; }

  .list {
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 1.9rem;
    letter-spacing: .5px; }

  .list--container {
    list-style: none; }

  .list--header {
    color: #EB1B1B;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: .5rem; } }
@media screen and (max-width: 1250px) {
  .menu--page {
    width: 90%;
    height: 90vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 2.5% 0 2.5% 10%; }

  .list {
    text-transform: capitalize;
    font-size: .8rem;
    line-height: 1.6rem;
    letter-spacing: .3px; }

  .list--container {
    list-style: none; }

  .list--header {
    color: #EB1B1B;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .7px;
    margin-bottom: .3rem; } }
@media screen and (max-width: 1250px) and (max-width: 750px) {
  .menu--page {
    width: 90%;
    height: 190vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    margin: 10% 0 2.5% 5%; }

  .list {
    text-transform: capitalize;
    font-size: .8rem;
    line-height: 1.6rem;
    letter-spacing: .3px; }

  .list--container {
    list-style: none; }

  .list--header {
    color: #EB1B1B;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .7px;
    margin-bottom: .3rem; } }
@media screen and (max-width: 1250px) and (max-width: 550px) {
  .menu--page {
    width: 90%;
    height: 170vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    margin: 10% 0 2.5% 5%;
    grid-column-gap: 4%; }

  .list {
    text-transform: capitalize;
    font-size: .75rem;
    line-height: 1.6rem;
    letter-spacing: .5px; }

  .list--container {
    list-style: none;
    margin-left: 2%; }

  .list--header {
    color: #EB1B1B;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .7px;
    margin-bottom: .3rem; } }
@media screen and (max-width: 1250px) and (max-width: 360px) {
  .menu--page {
    width: 100%;
    height: 410vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 8% 8% 7% 8% 8% 8% 7% 9% 9% 9% 9%;
    margin: 10% 0 2.5% 30%; }

  .list {
    text-transform: capitalize;
    font-size: .75rem;
    line-height: 1.6rem;
    letter-spacing: .5px; }

  .list--container {
    list-style: none; }

  .list--header {
    color: #EB1B1B;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .7px;
    margin-bottom: .3rem; }

  .nonal {
    margin-bottom: 30px; } }
@media screen and (max-width: 1250px) and (max-width: 1100px) {
  .cta--btn {
    font-size: 90px;
    width: 58%; }

  .home--img {
    display: none; }

  .home--img--mobile {
    display: block; } }
@media screen and (max-width: 1250px) and (max-width: 780px) {
  .cta--btn {
    font-size: 55px;
    width: 45%; } }
@media screen and (max-width: 1250px) and (max-width: 550px) {
  .cta--btn {
    font-size: 30px;
    width: 45%; } }
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins,sans-serif; }

/*# sourceMappingURL=style.css.map */
