.home--img--wrapper .home--img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  position: absolute;
  bottom: 0px; }

.cta--btn {
  padding: 10px 30px;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px; }

.cta--btn:hover {
  color: #fff;
  border: 2px solid #EB1B1B;
  background: #EB1B1B;
  transition: .6s; }

.cta--btn:active {
  color: #fff;
  border: 2px solid #EB1B1B;
  background: #EB1B1B;
  transition: .6s; }

.welcoming--wrapper {
  background-color: #fff;
  position: absolute;
  bottom: -300px; }

* {
  border: none; }

.booking--img--wrapper .booking--img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  position: absolute;
  bottom: 0px; }

.booking--form--wrapper {
  position: absolute;
  width: 30%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 2%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px; }

.booking--header {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  width: 100%;
  height: auto;
  float: left; }

.form--pri {
  width: 97%;
  margin: 1%;
  padding: 1%;
  float: left;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 3px; }

.form--sec {
  width: 31%;
  padding: 1%;
  margin: 1%;
  float: left;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px; }

.submit {
  width: 31%;
  padding: 1%;
  margin: 1%;
  float: left;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid whitesmoke;
  border-radius: 3px; }

.submit:hover {
  transition: .1s;
  border: 1px solid #EB1B1B;
  background: #EB1B1B;
  border-radius: 3px; }

.nav--wrapper {
  width: 100%;
  height: 120px;
  margin: auto;
  clear: both;
  display: table;
  content: "";
  background: #EB1B1B; }

.logo--wrapper {
  width: 25%;
  height: 120px;
  float: left; }
  .logo--wrapper .home--img--link .logo--img {
    width: auto;
    height: 100px;
    margin: 15px; }

.logo--img:hover {
  opacity: 80%; }

.nav--list--wrapper {
  width: 65%;
  height: 120px;
  float: left;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  font-size: 22px; }
  .nav--list--wrapper .nav--link {
    display: inline-block;
    height: 120px;
    line-height: 120px;
    color: #fff;
    margin: 0 50px; }
    .nav--list--wrapper .nav--link a {
      text-decoration: none;
      color: #fff; }

.nav--list--wrapper li:hover {
  transition: .6s;
  background-color: #fff;
  color: #EB1B1B;
  padding: 0px 30px;
  margin: 0 20px; }

.cart--wrapper {
  width: 10%;
  height: 120px;
  float: right; }
  .cart--wrapper .cart--link .cart--img {
    width: 35px;
    height: auto;
    margin: 38px auto 25px 0;
    position: absolute;
    right: 50px; }

.nav--wrapper {
  width: 100%;
  height: 120px;
  margin: auto;
  clear: both;
  display: table;
  content: "";
  background: #EB1B1B; }

.logo--wrapper {
  width: 25%;
  height: 120px;
  float: left; }
  .logo--wrapper .home--img--link .logo--img {
    width: auto;
    height: 100px;
    margin: 15px; }

.logo--img:hover {
  opacity: 80%; }

.nav--list--wrapper {
  width: 65%;
  height: 120px;
  float: left;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  font-size: 22px; }
  .nav--list--wrapper .nav--link {
    display: inline-block;
    height: 120px;
    line-height: 120px;
    color: #fff;
    margin: 0 50px; }
    .nav--list--wrapper .nav--link a {
      text-decoration: none;
      color: #fff; }

.nav--list--wrapper li:hover {
  transition: .6s;
  background-color: #fff;
  color: #EB1B1B;
  padding: 0px 30px;
  margin: 0 20px; }

.cart--wrapper {
  width: 10%;
  height: 120px;
  float: right; }
  .cart--wrapper .cart--link .cart--img {
    width: 35px;
    height: auto;
    margin: 38px auto 25px 0;
    position: absolute;
    right: 50px; }

.contact--img--wrapper .contact--img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  position: absolute;
  bottom: 0px; }

.contact--container {
  width: 30%;
  height: 18rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .contact--container .contact--header {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    line-height: 5rem;
    font-weight: 300;
    margin-top: 1rem; }

.contact--row {
  width: 100%;
  height: 4rem; }
  .contact--row .contact--row::after {
    clear: both;
    display: table;
    content: ""; }

.contact--icon {
  width: 1rem;
  height: 1rem;
  float: left;
  margin: 1.5rem 0 1.5rem 1.5rem; }

.contact--details, .contact--location {
  width: auto;
  height: 20%;
  float: left;
  font-size: 1rem;
  line-height: 4rem;
  margin-left: 1rem;
  text-decoration: none;
  color: #fff; }

.contact--location:hover {
  color: #EB1B1B;
  transition: .3s; }
  .contact--location:hover .contact--location:visited {
    color: #fff;
    transition: 0.3s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif; }

/*# sourceMappingURL=style.css.map */
