@import 'mixin';
@import 'colors';

* {
  border: none;
  box-sizing: border-box;
}

.booking--img--wrapper {
  .booking--img {
    @include img(100%, 100%, absolute, -1 );
    position: absolute;
    bottom: 0px;
    object-fit: cover;
  }
}

.booking--form--wrapper {
  @include w-h(40%, 31vh);
  @include pos(absolute, 50%, 50%, -50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 0 40px;
  text-align:center;
}

.booking--form {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 15px;
}

.form--pri {
  grid-column: 1/4;
}

.booking--form input{
  font-size: 1rem;
  padding: .2rem .8rem;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  outline: none;
  font-weight: 400;
}

.form--sec:last-child:hover{
  background-color: $pri-color;
  transition: .3s;
  cursor: pointer;
}

.booking--header{
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 10px;
}
