@import 'colors';

#menu--btn{
  @include flex-b(flex, column, center, center);
  @include img(10vh, 10vh, relative, 2);
  cursor: pointer;
  transition: all .5s ease-in-out;
  .menu--burger {
    @include w-h(37.5px, 4px);
    background: #fff;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    z-index: 2;
  }
}



.menu--burger::before,
.menu--burger::after {
  content: '';
  @include img(37.5px, 4px, absolute, 2);
  background: #fff;
  border-radius: 3px;
  transition: all .5s ease-in-out;
}
.menu--burger::before {
  transform: translateY(-12px);
}

.menu--burger::after {
  transform: translateY(12px);
}

#menu--btn.open .menu--burger{
  background: transparent;
}

#menu--btn.open .menu--burger::before {
  transform: rotate(45deg);
}

#menu--btn.open .menu--burger::after {
  transform: rotate(-45deg);
}
