@import 'mixin';
@import 'colors';
@import 'nav';

.contact--img--wrapper {
  .contact--img {
    @include img(100%, 100%, absolute, -1 );
    bottom: 0px;
    object-fit: cover;
  }
}

.contact--container {
  @include w-h(30%, 18rem);
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  text-transform: uppercase;
  @include pos(absolute, 55%, 50%, -50%, -50%);
  .contact--header {
    width: 100%;
    @include f-sizing(1.8rem, center, 5rem, 300);
    margin-top: 1rem;
  }
}

.contact--row {
  @include w-h(100%, 4rem);
  .contact--row::after {
    @include reset(both, table);
    content: "";

  }
}

.contact--icon {
  @include col(1rem,1rem, left);
  margin: 1.5rem 0 1rem 1rem;

}

.contact--details, .contact--location {
  @include col(auto, 20%, left);
  @include f-sizing(1rem, left, 4rem, 300);
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;

}

.contact--location:hover {
  color: $pri-color;
  transition: .3s;
  .contact--location:visited {
    color: #fff;
    transition: .3s
  }
}
