@mixin col($w, $h, $f) {
  width: $w;
  height: $h;
  float: $f;

}

@mixin w-h($w, $h) {
  width: $w;
  height: $h;
}

@mixin size($w, $h, $m) {
  width: $w;
  height: $h;
  margin: $m;
}

@mixin img($w, $h, $p, $z) {
  width: $w;
  height: $h;
  position: $p;
  z-index: $z;
}

@mixin reset($cl, $d) {
  clear:$cl;
  display: $d;
}

@mixin pos($p, $t, $l, $tt, $ttt) {
  position: $p;
  top: $t;
  left: $l;
  transform: translate($tt, $ttt);
}

@mixin f-sizing($fs, $ta, $lh, $fw) {
  font-size: $fs;
  text-align: $ta;
  line-height: $lh;
  font-weight: $fw;
}

@mixin flex-b($d, $fd, $jc, $ai){
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
