@mixin col($w, $h, $f) {
  width: $w;
  height: $h;
  float: $f;

}

@mixin w-h($w, $h) {
  width: $w;
  height: $h;
}

@mixin size($w, $h, $m) {
  width: $w;
  height: $h;
  margin: $m;
}

@mixin img($w, $h, $p, $z) {
  width: $w;
  height: $h;
  position: $p;
  z-index: $z;
}

@mixin reset($cl, $d) {
  clear:$cl;
  display: $d;
}
