@import 'mixin';
@import 'colors';

// nav styling - wrapper /////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.nav--wrapper {
  @include size(100%, 120px, auto);
  clear: both;
  display: table;
  content: "";
  background: #EB1B1B;
}

// nav styling - logo /////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////


.logo--wrapper {
  @include col(25%, 120px, left);
  .home--img--link {
    .logo--img {
      @include size (auto, 100px, 15px);
    }
  }
}

.logo--img:hover{
  opacity: 80%;
}

// nav styling - pages /////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

.nav--list--wrapper {
  @include col(65%, 120px, left);
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  font-size: 22px;
  .nav--link {
    display: inline-block;
    height: 120px;
    line-height: 120px;
    color: #fff;
    margin: 0 50px;
    a {
      text-decoration: none;
      color: #fff;

    }
  }
}

.nav--list--wrapper li:hover{
    transition: .6s;
    background-color: #fff;
    color: $pri-color;
    padding: 0px 30px;
    margin: 0 20px;
}

// nav styling - cart /////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.cart--wrapper {
  @include col(10%, 120px, right);
  .cart--link {
    .cart--img {
      @include size(35px, auto, 38px auto 25px 0);
      position: absolute;
      right: 50px;
    }
  }
}
