@import 'nav';

@mixin sizing($w, $h){
  width: $w;
  height: $h;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
}

.home--img--wrapper {
  height: 60%;
  .home--img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }
}

.welcoming--wrapper {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  .welcome--header {
    .welcome--msg {

    }
  }
}
